<!DOCTYPE html>
<html>
<head>
    <title>Edit tugas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <a href="/detail/{{ tugas['id'] }}" class="back">← Kembali</a>
        <h1>Edit Tugas ✏️</h1>
        <form action="/edit/{{ tugas['id'] }}" method="post">POST
            <input type="text" name="nama" value="{{ tugas['nama'] }}">
            <textarea name="deskripsi" placeholder="Tulis deskripsi..." {{ tugas['deskripsi'] }}></textarea>
            <button type="submit">Simpan</button>
        </form>
    </div>
</body>
</html>