<!DOCTYPE html>
<html>
<head>
    <title>Website Gua</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container"> 
         <h1>To-do List 📝</h1>
        
    <div class="welcome">
        Halo, {{ username }} <a href="/logout" class="btn-logout">logout</a>
    </div>
         <form action="/tambah" method="POST">
            <input type="text" name="nama" placeholder="Tambah tugas baru..." required>
            <button type="submit">Tambah</button>
         </form>

        <!-- Daftar tugas -->
         <ul>
            {% for t in tugas %}
            <li>
                <a href="/detail/{{ t['id'] }}" class="nama-tugas">{{ t['nama'] }}</a>
                <a href="/hapus/{{ t['id'] }}" class="hapus">❌</a>
            </li>
            {% endfor %}
         </ul>
    </div>
</body>
</html>