<!DOCTYPE html>
<html>
<head>
        <title>Register</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark text-white min-vh-100 d-flex align-items-center">
        <div class="container" style="max-width: 400px;">
            <h2 class="text-center mb-4">Register 📄</h2>
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form action="/register" method="POST">
                <div class="mb-3">
                    <input type="text" name="username" placeholder="Username"
                            class="form-control bg-secondary text-white border-0" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" placeholder="Password"
                            class="form-control bg-secondary text-white border-0" required>
                </div>
                <button type="submit" class="btn btn-danger w-100">Daftar</button>
            </form>
            <p class="text-center mt-3 text-secondary">
                Udah punya akun? <a href="/login" class="text-danger">Login</a>
            </p>
        </div>
</body>
</html>